################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj
/Shop/.vs/
/Shop/src/Shop.Cli/Properties/launchSettings.json
